<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS472 Student Registration</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul id="ulNavItems">
                <li>
                    <a id="hyplnkAppBranding" href="/register">CS472:::Student Registration</a>
                </li>
            </ul>
        </nav>
        <div id="divHeaderRightContent">
            <span style="float: right;">Welcome, Guest</span>
        </div>
    </header>
    <div id="mainContainer">
        <main>
            <h2 style="color: red;">Oops! Error: The Requested URL is not found.</h2>
        </main>
    </div>
    <footer>
        <div>
            <span>
                CS472-WAP ::: Student Registration
            </span>
            <span style="float: right;">
                O. Kalu, MIU ::: &copy; March 2022
            </span>
        </div>
    </footer>
</body>
</html>